body {
  /* margin: 0; */
  text-align: center;
  background-color: #f7f7f7;
}

/* h1 {
  color: #66bfbf;
  font-size: 80px;
  margin: 0 auto 0 auto;
  font-family: "Pacifico", cursive;
  text-align: center; 
}  */

.a-navbar-brand {
  font-size: 50px;
  color: #66bfbf;
  font-family: "Pacifico", cursive;
  margin: 0 auto 0 auto;
  margin-bottom: 15px;
}

.resume {
  line-height: 1.5;
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.top-container {
  background-color: #e4f9f5;
  /* position: relative; */
  padding: 90px;
  margin-bottom: 25px;
  /* margin: auto;
} */
}

.cloud1 {
  height: auto;
  max-width: 40%;
  display: flex;
  position: relative;
  left: 170px;
  top: 120px;
}

.cloud2 {
  height: auto;
  max-width: 40%;
  position: relative;
  display: flex;
}

.cloud3 {
  max-width: 40%;
  height: auto;
  position: relative;
  display: flex;
  right: 170px;
  top: 70px;
}

/* .clouddiv {
  min-width: auto;
  max-width: 50%;
  height: auto;
} */

.mountain {
  height: auto;
  max-width: 100%;
  width: fit-content;
  position: relative;
  left: 20px;
  bottom: 50px;
}

/* .profileImg {
  position: relative;
  top: 100px;
  left: 0;
  bottom: 400px;
} */

.h4 {
  font-family: "League Spartan", sans-serif;
  font-size: 120px;
}

.skill-row {
  width: 50%;
  position: inline-block;
  margin: 100px auto 100px auto;
  line-height: 190%;
}

p {
  position: relative;
  text-align: left;
}

/* .middle-container {
}

.bottom-container {
} */

.developer-img {
  height: auto;
  width: 25%;
  max-width: 100%;
  float: left;
  margin-right: 30px;
}

/* .profile-p {
  text-align: center;
  margin: auto;
} */

.design-img {
  height: auto;
  width: 24%;
  max-width: 100%;
  float: left;
  margin-right: 30px;
  margin-left: 5px;
}

h4 {
  display: flow-root;
  font-weight: 800;
  color: #66bfbf;
  font-family: "League Spartan", sans-serif;
  text-align: center;
}

.h2skills {
  font-size: 40px;
  font-weight: bold;
  color: #66bfbf;
  font-family: "League Spartan", sans-serif;
  text-align: center;
}

.d1 {
  margin-top: 80px;
}

.d2 {
  margin-top: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}

.display-6 {
  margin-top: -100px;
}

.dotted {
  border-style: dotted;
  height: 23px;
  width: 23px;
  background-color: #e4f6f6;
  border-radius: 100%;
  border: none !important;
  position: relative;
  display: inline-block;
}

.dotted2 {
  border-style: dotted;
  height: 23px;
  width: 23px;
  background-color: #e4f6f6;
  border-radius: 100%;
  border: none !important;
  position: relative;
  display: inline-block;
}

.dotted3 {
  border-style: dotted;
  height: 23px;
  width: 23px;
  /* background-color: #66bfbf; */
  color: #66bfbf;
  border-radius: 100%;
  border: none !important;
  position: relative;
  display: inline-block;
}

.h2header2 {
  color: #66bfbf;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 50px;
}
.display-8 {
  margin-top: -100px;
}

.contact-me {
  font-family: "League Spartan", sans-serif;
}

/* .footer-link {
  font-family: "League Spartan", sans-serif;
} */

h3 {
  color: #11999e;
  font-family: "League Spartan", sans-serif;
  margin-left: 15px;
}

.lasth3 {
  text-align: center;
}

.lastP {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-left: 25px;
}

.contact-me {
  width: 30%;
  margin: 40px auto 60px;
  text-align: center;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  text-align: center;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #66bfbf;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #66bfbf;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.bottom-container {
  font-family: "Montserrat", sans-serif;
}

.bottom-margin {
  background-color: #66bfbf;
  height: auto;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 50px 0 20px;
}

a {
  font-family: "League Spartan", sans-serif;
  color: #11999e;
  margin: auto 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.arinelli-p {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #eaf6f6;
  font-size: 0.9rem;
  padding: 20px 0;
}

.footer-link {
  font-family: "League Spartan", sans-serif;
  color: #fff;
  font-size: 20px;
}
