* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  text-align: center;
  /* padding: 30px; */
  font-family: "League Spartan", sans-serif;
  background-color: #fff !important;
  height: 1024px;
  width: 100%;
}

.bodycontainer {
  height: 500px;
}

h1 {
  margin-left: 50px;
  font-family: "Monteserrat", sans-serif;
  transform: rotate(-4deg);
  font-size: 36px !important;
}

h2 {
  transform: rotate(-2deg);
  margin-left: 50px;
  font-size: 32px;
}

h5 {
  font-size: 26px !important;
  margin-top: 10px;
  margin-left: 50px;
  transform: rotate(4deg);
  padding-top: 25px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #b2ebf2d6, #00c5dbd6),
    url(../images/galaxy.jpg);
  background-size: cover;
  background-position: center bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.primary-sub {
  transform: rotate(0deg);
}

.primary-main {
  transform: rotate(0deg);
}

/* h1 {
  color: #66bfbf;
  font-size: 80px;
  margin: 0 auto 0 auto;
  font-family: "Pacifico", cursive;
  text-align: center; 
}  */

/* .primary-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.primary-main {
  font-weight: 700;

  position: relative;
  color: #fff;
  font-family: "Pacifico", cursive;
  /* margin: 0 auto 0 auto; */
  /* margin-bottom: 15px; */
  padding: 30px;
  line-height: 1.7;
  /* text-align: center; */

  /* letter-spacing: 0; */

  animation-name: navbarInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes navbarInLeft {
  0% {
    transform: translate(-100px);
  }
  60% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
  }
}

.primary-sub {
  line-height: 1.7;
  /* position: absolute; */
  /* text-align: center; */

  /* position: absolute; */
  position: relative;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  /* margin: 0 auto 0 auto; */
  margin-top: -30px;
  font-weight: 400;

  letter-spacing: 5px;
  animation-name: resumeInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes resumeInRight {
  0% {
    transform: translate(100px);
  }
  60% {
    transform: translate(-10px);
  }
  100% {
    transform: translate(0);
  }
}

.skill-row1 {
  width: 60%;
  position: block;
  margin: 80px auto 50px auto;
  background-color: #f1f3f583;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.3);
  padding: 48px 28px;

  /* line-height: 190%; */
}
.skill-row2 {
  width: 60%;

  position: block;
  margin: 0 auto 120px auto;
  background-color: #f1f3f583;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.3);
  padding: 48px 28px;

  /* line-height: 190%; */
}

.pheader3 {
  /* position: block; */
  font-size: 16px;
  color: #213c4591;
  font-weight: 400;
  /* line-height: 1.5rem; */
  font-family: "Montserrat", sans-serif;
}

/* .middle-container {
}

.bottom-container {
} */

/* .profile-p {
  text-align: center;
  margin: auto;
} */

.design-img {
  height: auto;
  min-height: 50%;
  width: 17%;
  max-width: 80%;
  float: left;
  margin-right: 20px;
  /* margin-left: 5px; */
}

.d1 {
  display: block;
  position: relative;
  /* margin-top: 80px;
  margin-right: 370px; */
  text-align: center;
  margin: 0 auto 0 auto;
}

.d2 {
  display: block;
  position: relative;
  /* margin-top: 80px;
  margin-right: 370px; */
  text-align: center;
  margin: 0 auto -30px auto;
}

.display-6 {
  display: inline-block;
  font-weight: 700;

  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin: 0 100px 60px auto;
  color: #66bfbf;
}

/* .h2header2 {
  color: #66bfbf;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 50px;
} */
.display-8 {
  display: inline-block;
  position: relative;
  font-weight: 700;
  color: #66bfbf;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  margin: 0 auto 30px auto;
}

.contact-me {
  font-family: "League Spartan", sans-serif;
  color: #66bfbf;
}

/* .footer-link {
  font-family: "League Spartan", sans-serif;
} */

/* h3 {
  color: #234567;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  margin-left: 15px;
  font-size: 44px;
  text-shadow: 0 5px 2px black;
} */

/* .lastP {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-left: 25px;
} */

.button-container {
  display: inline;
}

.contact-me {
  /* width: 100%; */
  margin: 40px auto 60px;
  text-align: center;
  color: #66bfbf;
}

.cta {
  position: relative;
  /* margin: auto; */
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  text-align: center;
  margin-left: 18%;
}

.cta.b {
  position: relative;
  /* margin: auto; */
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  text-align: center;
  margin-left: 10px;
}

.cta.c {
  position: relative;
  /* margin: auto; */
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  text-align: center;
  margin-left: 10px;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #66bfbf;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #66bfbf;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.bottom-container {
  font-family: "Montserrat", sans-serif;
}

.bottom-margin {
  background-color: #66bfbf;
  height: auto;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 50px 0 20px;
}

a {
  font-family: "League Spartan", sans-serif;
  color: #66bfbf;
  margin: auto 20px;
  text-decoration: none;
}

.arinelli-p {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #eaf6f6;
  font-size: 0.9rem;
  padding: 20px 0;
}

.footer-link {
  font-family: "League Spartan", sans-serif;
  color: #fff;
  font-size: 20px;
}

a.footer-link:hover {
  color: #234567;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
